/* Initial */
$regent-st-blue: #a2c9df;
$tidal: #feffb3;
$pastel-pink: #ffc9df;
$tundora: #4a4a4a;
$indigo: #485fc7;
$piction-blue: #40a1df;
$butterfly-bush: #525393;
$saltpan: #eef5f0;
$deep-cove: #051d41;
$orange-peel: #fe9a00;

/* Derived */
$font-color: $deep-cove;
$action-color: $butterfly-bush;
